USE [master]
GO
/****** Object:  Database [CateringData]    Script Date: 31/01/2024 14:49:58 ******/
CREATE DATABASE [CateringData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CateringData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PROGB\MSSQL\DATA\CateringData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CateringData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.PROGB\MSSQL\DATA\CateringData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CateringData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CateringData]
GO
USE [CateringData]
GO
/****** Object:  Table [dbo].[Catering]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catering](
	[CodeCatering] [int] IDENTITY(100,1000) NOT NULL,
	[TypeOfCatering] [nvarchar](10) NOT NULL,
	[NameCatering] [nvarchar](10) NOT NULL,
	[NameHechsher] [nvarchar](10) NOT NULL,
	[MinimumCount] [int] NULL,
 CONSTRAINT [PK_Catering] PRIMARY KEY CLUSTERED 
(
	[CodeCatering] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CodeCustomer] [int] NOT NULL,
	[NameCustomer] [nvarchar](10) NULL,
	[TelCustomer] [nvarchar](10) NOT NULL,
	[CardCustomer] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CodeCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[TypeOfEvent] [int] IDENTITY(1,1) NOT NULL,
	[NameOfEvent] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[TypeOfEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[CodeFood] [int] IDENTITY(1,100) NOT NULL,
	[CodeCatering] [int] NOT NULL,
	[TypeOfCourse] [nvarchar](10) NOT NULL,
	[TypeOfFood] [nvarchar](10) NOT NULL,
	[NameOfFod] [nvarchar](30) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[CodeFood] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HechsherEnum]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HechsherEnum](
	[CodeHechsher] [int] IDENTITY(1,1) NOT NULL,
	[NameHechsher] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_HechsherEnum_1] PRIMARY KEY CLUSTERED 
(
	[CodeHechsher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[CodeOrder] [int] IDENTITY(5,100) NOT NULL,
	[CodeCatering] [int] NOT NULL,
	[DateOfOrder] [date] NULL,
	[Date] [date] NOT NULL,
	[countOrder] [int] NOT NULL,
	[CodeCustomer] [int] NOT NULL,
	[TypeOfEvent] [nvarchar](10) NOT NULL,
	[TimeOfEvent] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[CodeOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOfEvent]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOfEvent](
	[CodeTimeOfEvent] [int] IDENTITY(1,1) NOT NULL,
	[TimeOfEvent] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TimeOfEvent] PRIMARY KEY CLUSTERED 
(
	[CodeTimeOfEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfCatering]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfCatering](
	[CodeTypeOfCatering] [int] IDENTITY(10,10) NOT NULL,
	[TypeOfCatering] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TypeOfCatering_1] PRIMARY KEY CLUSTERED 
(
	[CodeTypeOfCatering] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfCourse]    Script Date: 31/01/2024 14:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfCourse](
	[CodeCourse] [int] IDENTITY(1,1) NOT NULL,
	[NameCourse] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TypeOfCourse_1] PRIMARY KEY CLUSTERED 
(
	[CodeCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catering] ON 

INSERT [dbo].[Catering] ([CodeCatering], [TypeOfCatering], [NameCatering], [NameHechsher], [MinimumCount]) VALUES (9100, N'חלבי', N'טועמיה', N'1', 50)
INSERT [dbo].[Catering] ([CodeCatering], [TypeOfCatering], [NameCatering], [NameHechsher], [MinimumCount]) VALUES (10100, N'בשרי', N'שכטר', N'9', 30)
INSERT [dbo].[Catering] ([CodeCatering], [TypeOfCatering], [NameCatering], [NameHechsher], [MinimumCount]) VALUES (11100, N'חלבי', N'מטעמים', N'9', 20)
SET IDENTITY_INSERT [dbo].[Catering] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([TypeOfEvent], [NameOfEvent]) VALUES (1, N'חתונה')
INSERT [dbo].[Event] ([TypeOfEvent], [NameOfEvent]) VALUES (2, N'שבע ברכות')
INSERT [dbo].[Event] ([TypeOfEvent], [NameOfEvent]) VALUES (3, N'ברית')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([CodeFood], [CodeCatering], [TypeOfCourse], [TypeOfFood], [NameOfFod]) VALUES (301, 9100, N'1', N'בלינצ''ס', N'בליינצ'' מוקרם')
INSERT [dbo].[Food] ([CodeFood], [CodeCatering], [TypeOfCourse], [TypeOfFood], [NameOfFod]) VALUES (501, 9100, N'7', N'מרק', N'מרק בצל מוקרם')
INSERT [dbo].[Food] ([CodeFood], [CodeCatering], [TypeOfCourse], [TypeOfFood], [NameOfFod]) VALUES (601, 9100, N'6', N'פשטידה', N'פשטידת פצפוצי אורז')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[HechsherEnum] ON 

INSERT [dbo].[HechsherEnum] ([CodeHechsher], [NameHechsher]) VALUES (1, N'הרב לנדא')
INSERT [dbo].[HechsherEnum] ([CodeHechsher], [NameHechsher]) VALUES (9, N'בד"ץ ')
INSERT [dbo].[HechsherEnum] ([CodeHechsher], [NameHechsher]) VALUES (11, N'חתם סופר')
SET IDENTITY_INSERT [dbo].[HechsherEnum] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeOfEvent] ON 

INSERT [dbo].[TimeOfEvent] ([CodeTimeOfEvent], [TimeOfEvent]) VALUES (1, N'בוקר')
INSERT [dbo].[TimeOfEvent] ([CodeTimeOfEvent], [TimeOfEvent]) VALUES (2, N'צהרים')
INSERT [dbo].[TimeOfEvent] ([CodeTimeOfEvent], [TimeOfEvent]) VALUES (3, N'ערב')
SET IDENTITY_INSERT [dbo].[TimeOfEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfCatering] ON 

INSERT [dbo].[TypeOfCatering] ([CodeTypeOfCatering], [TypeOfCatering]) VALUES (10, N'בשרי')
INSERT [dbo].[TypeOfCatering] ([CodeTypeOfCatering], [TypeOfCatering]) VALUES (20, N'חלבי')
INSERT [dbo].[TypeOfCatering] ([CodeTypeOfCatering], [TypeOfCatering]) VALUES (30, N'מתוקים')
SET IDENTITY_INSERT [dbo].[TypeOfCatering] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfCourse] ON 

INSERT [dbo].[TypeOfCourse] ([CodeCourse], [NameCourse]) VALUES (1, N'מנת פתיחה')
INSERT [dbo].[TypeOfCourse] ([CodeCourse], [NameCourse]) VALUES (2, N'סלטים ')
INSERT [dbo].[TypeOfCourse] ([CodeCourse], [NameCourse]) VALUES (3, N'מנה ראשונה')
SET IDENTITY_INSERT [dbo].[TypeOfCourse] OFF
GO
USE [master]
GO
